# .gitignore


# Vim swap files
*.swp

# Python byte code files
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# virtual environment directories
.venv

# binary file formats
*.pdf
*.zip
*.png
*.mp4
*.mkv
*.jpg
*.jpeg
*.pickle

# other file formats
*.html
*.ipynb
*.yaml

.nfs*

data
experiments
